Fake_ECoS/flows.json
[
    {
        "id": "7f86501a.db8c4",
        "type": "tab",
        "label": "Doorbell/Gate",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ae42528ac326c82b",
        "type": "tab",
        "label": "FaCoS",
        "disabled": false,
        "info": "FaCoS\n\n\nThis will let iTrain connect and find one sensor in the 26 type with id 200 range.\n\nThe goal is to take MQTT break beam sensors near the end of my tracks and along certain segments to create animations. One idea I have is a tree falls across the tracks with a servo, I can trigger this randomly as long as the break beam hasnt triggered in 30 seconds. Then fake a trigger of that sensor to iTrain doesnt send a train there. Let's see if I can make it work!",
        "env": []
    },
    {
        "id": "0f7020831b598d2d",
        "type": "tab",
        "label": "ECoS Monitor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f48285bb.c8f9a",
        "type": "tls-config",
        "name": "",
        "cert": "/data/public/certificate.pem",
        "key": "/data/public/privatekey.pem",
        "ca": "/data/public/certificate.pem",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "5e89e2791ec4dffc",
        "type": "mqtt-broker",
        "name": "mqtt.tableman.com",
        "broker": "mqtt.tableman.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c13745b1.5c00a",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "LoopyFerns",
        "usetls": false,
        "tls": "f48285bb.c8f9a",
        "influxdbVersion": "2.0",
        "url": "https://192.168.50.10:8086",
        "rejectUnauthorized": false
    },
    {
        "id": "6fe636db.4f0e08",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#3a88fe",
                "baseFont": "Lucida Sans Unicode,Lucida Grande,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "Palatino Linotype,Palatino,Book Antiqua,serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#3a88fe",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#86b6fe",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#3a88fe",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Lucida Sans Unicode,Lucida Grande,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "aquaDRAMA Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 2,
                "gy": 2,
                "cx": 2,
                "cy": 2,
                "px": 1,
                "py": 1
            }
        }
    },
    {
        "id": "77d29f1e.f927e",
        "type": "ui_tab",
        "name": "Obendogger",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "95f2ef5d.21fe5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fdba4392.641a",
        "type": "ui_tab",
        "name": "LocoNet FastClock Editor",
        "icon": "dashboard",
        "order": 5
    },
    {
        "id": "a197e5cf.e4c638",
        "type": "ui_tab",
        "name": "FastClock",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "3caa44aa.e516ac",
        "type": "ui_tab",
        "name": "Clock",
        "icon": "dashboard",
        "order": 4
    },
    {
        "id": "ef595555.587068",
        "type": "ui_tab",
        "name": "LocoNet",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "39e21c29.15c754",
        "type": "ui_tab",
        "name": "LocoNet",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "1f29dd91.81e7fa",
        "type": "ui_tab",
        "name": "LocoNet",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "5958998c.f31b08",
        "type": "ui_tab",
        "name": "Garage",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ed46aa31.4bb088",
        "type": "ui_group",
        "name": "Helmeriber Fluss Brucke",
        "tab": "77d29f1e.f927e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "43ab82df.974ae4",
        "type": "ui_group",
        "name": "Mtn Lighting",
        "tab": "77d29f1e.f927e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7c54d32a.315594",
        "type": "ui_group",
        "name": "Windmill",
        "tab": "77d29f1e.f927e",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5915554f.4ffed4",
        "type": "ui_group",
        "name": "ECoS",
        "tab": "77d29f1e.f927e",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bf5fe3f1.b88df8",
        "type": "ui_group",
        "name": "Switching Power",
        "tab": "77d29f1e.f927e",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "710e46a1.f0db28",
        "type": "ui_group",
        "name": "Architect Home",
        "tab": "77d29f1e.f927e",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "44412672.a8fdc8",
        "type": "ui_group",
        "name": "Post Office",
        "tab": "77d29f1e.f927e",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "18c1f542.6408a3",
        "type": "ui_group",
        "name": "Station Power",
        "tab": "77d29f1e.f927e",
        "order": 10,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f9e7aeca.a0fd1",
        "type": "ui_group",
        "name": "T 1",
        "tab": "77d29f1e.f927e",
        "order": 11,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1c7ec223.ce87e6",
        "type": "ui_group",
        "name": "House 2",
        "tab": "77d29f1e.f927e",
        "order": 12,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3e89ef0b.22e2",
        "type": "ui_group",
        "name": "Sound",
        "tab": "77d29f1e.f927e",
        "order": 13,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c832cc5e.609ed8",
        "type": "ui_group",
        "name": "House Control",
        "tab": "95f2ef5d.21fe5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ce6838aa.618ae8",
        "type": "ui_group",
        "name": "FastClock Setup",
        "tab": "fdba4392.641a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6e241d37.cc5bd4",
        "type": "ui_group",
        "name": "Fast Clock",
        "tab": "a197e5cf.e4c638",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f4d8a839.c19718",
        "type": "ui_group",
        "name": "Trainstation Clock",
        "tab": "3caa44aa.e516ac",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "662b07da.43bd98",
        "type": "ui_group",
        "name": "LocoNet Viewer",
        "tab": "ef595555.587068",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "8e49a6bc.86301",
        "type": "ui_group",
        "name": "Turnout Control",
        "tab": "39e21c29.15c754",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "caf7292.c7dc5d8",
        "type": "ui_group",
        "name": "DCS OpSw Settings",
        "tab": "fdba4392.641a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2cc5ab9b.d12994",
        "type": "ui_group",
        "name": "Service Track Programmer",
        "tab": "1f29dd91.81e7fa",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "99fe70be.6b5b78",
        "type": "ui_group",
        "name": "Main Line Programmer",
        "tab": "1f29dd91.81e7fa",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "489a1b9c.2b6b3c",
        "type": "ui_group",
        "name": "DCS OpSw Settings",
        "tab": "fdba4392.641a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e5d2a9af.291328",
        "type": "ui_group",
        "name": "Heating",
        "tab": "5958998c.f31b08",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3d2f8b37acce581d",
        "type": "ui_group",
        "name": "Occupancy",
        "tab": "77d29f1e.f927e",
        "order": 12,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4f46ad63.02afac",
        "type": "position-config",
        "name": "",
        "isValide": "true",
        "longitude": "0",
        "latitude": "0",
        "angleType": "deg",
        "timeZoneOffset": 99,
        "timeZoneDST": 0,
        "stateTimeFormat": "0",
        "stateDateFormat": "0"
    },
    {
        "id": "aecf27b3.7d8ee8",
        "type": "comment",
        "z": "7f86501a.db8c4",
        "name": "fix doorbell issue",
        "info": "",
        "x": 230,
        "y": 40,
        "wires": []
    },
    {
        "id": "58a3f4dc.7ee2dc",
        "type": "mqtt in",
        "z": "7f86501a.db8c4",
        "name": "",
        "topic": "LF/motion/E063DA009D15/doorbell",
        "qos": "0",
        "datatype": "auto",
        "broker": "5e89e2791ec4dffc",
        "nl": false,
        "rap": false,
        "rh": "0",
        "inputs": 0,
        "x": 330,
        "y": 100,
        "wires": [
            [
                "a312f1a63180505d"
            ]
        ]
    },
    {
        "id": "54814825.b5556",
        "type": "delay",
        "z": "7f86501a.db8c4",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 770,
        "y": 100,
        "wires": [
            [
                "3ac6becf.3badea"
            ]
        ]
    },
    {
        "id": "3ac6becf.3badea",
        "type": "change",
        "z": "7f86501a.db8c4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 160,
        "wires": [
            [
                "d290711b.2a1e88"
            ]
        ]
    },
    {
        "id": "8305e89d.2d204",
        "type": "inject",
        "z": "7f86501a.db8c4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "504c146a.dd1754"
            ]
        ]
    },
    {
        "id": "d290711b.2a1e88",
        "type": "mqtt out",
        "z": "7f86501a.db8c4",
        "name": "",
        "topic": "LF/motion/E063DA009D15/doorbell",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5e89e2791ec4dffc",
        "x": 540,
        "y": 160,
        "wires": []
    },
    {
        "id": "504c146a.dd1754",
        "type": "change",
        "z": "7f86501a.db8c4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 220,
        "wires": [
            [
                "d290711b.2a1e88"
            ]
        ]
    },
    {
        "id": "d82720d4.8d8048",
        "type": "mqtt in",
        "z": "7f86501a.db8c4",
        "name": "",
        "topic": "LF/motion/E063DA009D15/motion/smart/person",
        "qos": "0",
        "datatype": "auto",
        "broker": "5e89e2791ec4dffc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 380,
        "wires": [
            [
                "4adb6647.e9fb6"
            ]
        ]
    },
    {
        "id": "4adb6647.e9fb6",
        "type": "debug",
        "z": "7f86501a.db8c4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 380,
        "wires": []
    },
    {
        "id": "a312f1a63180505d",
        "type": "switch",
        "z": "7f86501a.db8c4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 100,
        "wires": [
            [
                "54814825.b5556",
                "6c0b972dd0ae82db"
            ],
            []
        ]
    },
    {
        "id": "6c0b972dd0ae82db",
        "type": "http request",
        "z": "7f86501a.db8c4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.50.12/apps/api/35/devices/171/playSound/23?access_token=e279ee97-a085-4bf7-b47c-5c8eb4b4229e",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 780,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "b0077d54ef9b5c05",
        "type": "mqtt in",
        "z": "7f86501a.db8c4",
        "name": "",
        "topic": "LF/motion/E063DA009D15/motion/smart/person",
        "qos": "0",
        "datatype": "auto",
        "broker": "5e89e2791ec4dffc",
        "nl": false,
        "rap": false,
        "rh": "0",
        "inputs": 0,
        "x": 290,
        "y": 320,
        "wires": [
            [
                "c37a54559273596c"
            ]
        ]
    },
    {
        "id": "c37a54559273596c",
        "type": "switch",
        "z": "7f86501a.db8c4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 270,
        "wires": [
            [
                "ced5037dbf71d5cb",
                "a26d119e7269c713"
            ],
            []
        ]
    },
    {
        "id": "2ae45ba1a539f1b9",
        "type": "http request",
        "z": "7f86501a.db8c4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.50.12/apps/api/35/devices/171/playSound/29?access_token=e279ee97-a085-4bf7-b47c-5c8eb4b4229e",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 900,
        "y": 260,
        "wires": [
            [
                "a559acb1a0b1047d"
            ]
        ]
    },
    {
        "id": "ced5037dbf71d5cb",
        "type": "delay",
        "z": "7f86501a.db8c4",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 730,
        "y": 260,
        "wires": [
            [
                "2ae45ba1a539f1b9"
            ]
        ]
    },
    {
        "id": "a26d119e7269c713",
        "type": "delay",
        "z": "7f86501a.db8c4",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 710,
        "y": 300,
        "wires": [
            [
                "e5de5d5bb05dade9"
            ]
        ]
    },
    {
        "id": "e5de5d5bb05dade9",
        "type": "http request",
        "z": "7f86501a.db8c4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.50.12/apps/api/35/devices/171/stop?access_token=e279ee97-a085-4bf7-b47c-5c8eb4b4229e",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 900,
        "y": 300,
        "wires": [
            [
                "a559acb1a0b1047d"
            ]
        ]
    },
    {
        "id": "a559acb1a0b1047d",
        "type": "debug",
        "z": "7f86501a.db8c4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 280,
        "wires": []
    },
    {
        "id": "37210f3d64fc76d7",
        "type": "http request",
        "z": "7f86501a.db8c4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.50.12/apps/api/35/devices/171/setVolume/50?access_token=e279ee97-a085-4bf7-b47c-5c8eb4b4229e",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 900,
        "y": 220,
        "wires": [
            [
                "a559acb1a0b1047d"
            ]
        ]
    },
    {
        "id": "25cd7d4c6afd99b0",
        "type": "inject",
        "z": "7f86501a.db8c4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "43200",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 710,
        "y": 220,
        "wires": [
            [
                "37210f3d64fc76d7"
            ]
        ]
    },
    {
        "id": "953ba978a781e9fe",
        "type": "tcp in",
        "z": "ae42528ac326c82b",
        "name": "",
        "server": "server",
        "host": "",
        "port": "15471",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "base64": false,
        "x": 350,
        "y": 80,
        "wires": [
            [
                "199f8c9cd04f45a5"
            ]
        ]
    },
    {
        "id": "4ef3a04d62310bcf",
        "type": "debug",
        "z": "ae42528ac326c82b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 50,
        "wires": []
    },
    {
        "id": "199f8c9cd04f45a5",
        "type": "switch",
        "z": "ae42528ac326c82b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "get(1,info)",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "queryObjects(26,ports)",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "get(1,status)",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "request(1,view)",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "request(26,view)",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "request(200,view)",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "set(1,go)",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "get(200,state)",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "get(200,railcom[0])",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "queryObjects(10,name)",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "get(1000,symbol)",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "get(1000,addr,protocol,symbol,speedindicator)",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "get(1000,funcsymbol[0],funcsymbol[1],funcsymbol[2],funcsymbol[3],funcsymbol[4],funcsymbol[5],funcsymbol[6],funcsymbol[7],funcsymbol[8])",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "get(1000,funcsymbol[9],funcsymbol[10],funcsymbol[11],funcsymbol[12],funcsymbol[13],funcsymbol[14],funcsymbol[15])",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "request(10,view)",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "request(1000,view)",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "request(1000,control,force)",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "release(1000,control)",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "set(1000,dir[0])",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "set(1000,dir[1])",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "release(1,view)",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "release(26,view)",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "set(1,stop)",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "release(200,view)",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "get(1000)",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "release(10,view)",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "request(11,view,viewswitch)",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "set(11,switch",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "speedstep",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "release(11,view)",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "func",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "release(1000,view)",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 33,
        "x": 360,
        "y": 860,
        "wires": [
            [
                "64a7bdb6d7f60da0"
            ],
            [
                "d6e1be7d7c5e48bb"
            ],
            [
                "41cefacfc3563b26"
            ],
            [
                "2307d02c12876114"
            ],
            [
                "46f16d1300a72b06"
            ],
            [
                "242ae27602d0810f"
            ],
            [
                "baf07f2b289f12d0"
            ],
            [
                "e0748d5396ebe4d3"
            ],
            [
                "9debac24a19f5d7b"
            ],
            [
                "fe94dfb5286fccee"
            ],
            [
                "bb8d169645c41fb7"
            ],
            [
                "6f2eb58e1d856f49"
            ],
            [
                "c6cd5d2ec653d98a"
            ],
            [
                "f94b28f9e3b0bae2"
            ],
            [
                "0d12d2dd1ec63410"
            ],
            [
                "8e802fca5dcfdbc0"
            ],
            [
                "3065e96f7de3e530"
            ],
            [
                "e85e1586765807f9"
            ],
            [
                "19f6b7846b63fe49"
            ],
            [
                "7665d429e7382ec6"
            ],
            [
                "da58e79245819431"
            ],
            [
                "d1fe31f59f05b690"
            ],
            [
                "87c6cfb2a2521fa1"
            ],
            [
                "a878731491a78c1e"
            ],
            [
                "72ae4ff460e9c964"
            ],
            [
                "9b8917ee04c95337"
            ],
            [
                "d150813199646371"
            ],
            [
                "27d8ff35b4e13404"
            ],
            [
                "9937082b58bee53e"
            ],
            [
                "eb50df68b1375919"
            ],
            [
                "002df91de7366b64",
                "f348fbea826c3c76"
            ],
            [
                "3b65419fd4cf07a3"
            ],
            [
                "cf6f04d2722aee44"
            ]
        ]
    },
    {
        "id": "0583f2c2bfaaf73d",
        "type": "tcp out",
        "z": "ae42528ac326c82b",
        "host": "",
        "port": "",
        "beserver": "reply",
        "base64": false,
        "end": false,
        "name": "",
        "x": 1520,
        "y": 100,
        "wires": []
    },
    {
        "id": "64a7bdb6d7f60da0",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "get(1,info)",
        "func": "msg.payload = '<REPLY get(1,info)>\\n' + \n'1 ECoS\\n' + \n'1 ProtocolVersion[0.999]\\n' + \n'1 ApplicationVersion[1.1.1]\\n' + \n'1 HardwareVersion[1.3]\\n' + \n'<END 0 (OK)>\\n';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 40,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "cf6f04d2722aee44",
        "type": "debug",
        "z": "ae42528ac326c82b",
        "name": "unhandled",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 1360,
        "wires": []
    },
    {
        "id": "b6e4f6de6c577084",
        "type": "change",
        "z": "ae42528ac326c82b",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 90,
        "wires": [
            [
                "0583f2c2bfaaf73d",
                "4ef3a04d62310bcf"
            ]
        ]
    },
    {
        "id": "d6e1be7d7c5e48bb",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "queryObjects(26,ports) *CHANGEME*",
        "func": "msg.payload = '<REPLY queryObjects(26,ports)>\\n' + \n'200 ports[1]\\n' + \n'<END 0 (OK)>\\n';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 80,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "41cefacfc3563b26",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "get(1,status)",
        "func": "msg.payload = '<REPLY get(1,status)>\\n'\n+ '1 status[GO]\\n'\n+ '<END 0 (OK)>\\n';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 120,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "2307d02c12876114",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "request(1,view)",
        "func": "msg.payload = '<REPLY request(1,view)>\\n<END 0 (OK)>\\n';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 160,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "46f16d1300a72b06",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "request(26,view)",
        "func": "msg.payload = '<REPLY request(26,view)>\\n<END 0 (OK)>\\n';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 200,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "242ae27602d0810f",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "request(200,view)",
        "func": "msg.payload = '<REPLY request(200,view)>\\n<END 0 (OK)>\\n';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 240,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "baf07f2b289f12d0",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "set(1,go)",
        "func": "msg.payload = '<REPLY set(1,go)>\\n<END 0 (OK)>\\n';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 280,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "e0748d5396ebe4d3",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "get(200,state)",
        "func": "msg.payload = '<REPLY get(200,state)>\\n'\n+'200 state[0x0]\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 320,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "9debac24a19f5d7b",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "get(200,railcom[0])",
        "func": "msg.payload = '<REPLY get(200,railcom[0])>\\n'\n+'200 railcom[00, 0000, 0]\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;\n//<202 railcom=\"12, 64, 1\"/>",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 360,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "e3eb122fd86d7765",
        "type": "inject",
        "z": "ae42528ac326c82b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1440,
        "y": 320,
        "wires": [
            [
                "0d641dfd9ed2193f"
            ]
        ]
    },
    {
        "id": "0d641dfd9ed2193f",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "railcom 1000 >",
        "func": "msg.payload = '<EVENT 200>\\n'\n+'200 railcom[00, 1000, 1]\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 320,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "fbda05265d402b9f",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "railcom occupied",
        "func": "msg.payload = '<EVENT 200>\\n'\n+'200 state[0x3]\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 400,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "2a0811df2a84d89b",
        "type": "inject",
        "z": "ae42528ac326c82b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1440,
        "y": 400,
        "wires": [
            [
                "fbda05265d402b9f"
            ]
        ]
    },
    {
        "id": "24b20f5367e80e72",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "railcom empty",
        "func": "msg.payload = '<EVENT 200>\\n'\n+'200 state[0x0]\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 440,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "bb1131f209396d23",
        "type": "inject",
        "z": "ae42528ac326c82b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1440,
        "y": 440,
        "wires": [
            [
                "24b20f5367e80e72"
            ]
        ]
    },
    {
        "id": "979c44d3e53c3a80",
        "type": "inject",
        "z": "ae42528ac326c82b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1440,
        "y": 360,
        "wires": [
            [
                "b1a9984de7ee32f6"
            ]
        ]
    },
    {
        "id": "b1a9984de7ee32f6",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "railcom 1000 <",
        "func": "msg.payload = '<EVENT 200>\\n'\n+'200 railcom[00, 1000, 0]\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 360,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "fe94dfb5286fccee",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "queryObjects(10,name)",
        "func": "msg.payload = '<REPLY queryObjects(10,name)>\\n'\n+'1000 name[\"Fake Locomotive\"]\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 400,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "bb8d169645c41fb7",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "get(1000,symbol)",
        "func": "msg.payload = '<REPLY get(1000,symbol)>\\n'\n+'1000 symbol[LOCO_TYPE_E, IMAGE_TYPE_INT, 050]\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 440,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "6f2eb58e1d856f49",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "get(1000,addr,protocol,symbol,speedindicator)",
        "func": "msg.payload = '<REPLY get(1000,addr,protocol,symbol,speedindicator)>\\n'\n+'1000 name[\"Fake Locomotive 1000\"]\\n'\n+'1000 speed[0]\\n'\n+'1000 dir[1]\\n'\n+'1000 symbol[LOCO_TYPE_E, IMAGE_TYPE_INT, 050]\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 480,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "f48afe6b3efa70b2",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "get(1000,speedstep,dir)",
        "func": "msg.payload = '<REPLY get(1000,speedstep,dir)>\\n'\n+'1000 dir[1]\\n'\n+'1000 speedstep[14]\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 520,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "c6cd5d2ec653d98a",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "get(1000,funcsymbol[0]...",
        "func": "msg.payload = '<REPLY get(1000,funcsymbol[0],funcsymbol[1],funcsymbol[2],funcsymbol[3],funcsymbol[4],funcsymbol[5],funcsymbol[6],funcsymbol[7],funcsymbol[8])>\\n'\n+'1000 func[0, 0003]\\n'\n+'1000 func[1, 0]\\n'\n+'1000 func[2, 0]\\n'\n+'1000 func[3, 0]\\n'\n+'1000 func[4, 0]\\n'\n+'1000 func[5, 0]\\n'\n+'1000 func[6, 0]\\n'\n+'1000 func[7, 0]\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 560,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "f94b28f9e3b0bae2",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "get(1000,funcsymbol[0]...",
        "func": "msg.payload = '<REPLY get(1000,funcsymbol[9],funcsymbol[10],funcsymbol[11],funcsymbol[12],funcsymbol[13],funcsymbol[14],funcsymbol[15])>\\n'\n+'1000 func[8, 1]\\n'\n+'1000 func[9, 1]\\n'\n+'1000 func[10, 0]\\n'\n+'1000 func[11, 0]\\n'\n+'1000 func[12, 0]\\n'\n+'1000 func[13, 0]\\n'\n+'1000 func[14, 0]\\n'\n+'1000 func[15, 0]\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 600,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "0d12d2dd1ec63410",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "request(10,view)",
        "func": "msg.payload = '<REPLY request(10,view)>\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 640,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "8e802fca5dcfdbc0",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "request(1000,view)",
        "func": "msg.payload = '<REPLY request(1000,view)>\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 680,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "3065e96f7de3e530",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "request(1000,control,force)",
        "func": "msg.payload = '<REPLY request(1000,control,force)>\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 720,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "c0fd1d85329a5e31",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "set(1000,speedstep[0],dir[1])",
        "func": "msg.payload = '<REPLY set(1000,speedstep[0],dir[1])>\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 760,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "e85e1586765807f9",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "release(1000,control)",
        "func": "msg.payload = '<REPLY release(1000,control)>\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 800,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "19f6b7846b63fe49",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "set(1000,dir[0])",
        "func": "msg.payload = '<REPLY set(1000,dir[0])>\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 840,
        "wires": [
            [
                "b6e4f6de6c577084",
                "160be93ff00baee4"
            ]
        ]
    },
    {
        "id": "7665d429e7382ec6",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "set(1000,dir[1])",
        "func": "msg.payload = '<REPLY set(1000,dir[1])>\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 880,
        "wires": [
            [
                "b6e4f6de6c577084",
                "affe2618d7b80853"
            ]
        ]
    },
    {
        "id": "f19d91610d42fbfc",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "set(1000,speedstep[14],dir[1])",
        "func": "msg.payload = '<REPLY set(1000,speedstep[14],dir[1])>\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 920,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "373aff549a1fcbc4",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "set(1000,speedstep[0])",
        "func": "msg.payload = '<REPLY set(1000,speedstep[0])>\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 960,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "da58e79245819431",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "release(1,view)",
        "func": "msg.payload = '<REPLY release(1,view)>\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1000,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "d1fe31f59f05b690",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "release(26,view)",
        "func": "msg.payload = '<REPLY release(26,view)>\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1040,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "87c6cfb2a2521fa1",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "set(1,stop)",
        "func": "msg.payload = '<REPLY set(1,stop)>\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1080,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "a878731491a78c1e",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "release(200,view)",
        "func": "msg.payload = '<REPLY release(200,view)>\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1120,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "72ae4ff460e9c964",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "get(1000)",
        "func": "msg.payload = '<REPLY get(1000)>\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1160,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "9b8917ee04c95337",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "release(10,view)",
        "func": "msg.payload = '<REPLY release(10,view)>\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1200,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "e2aad5930745fd32",
        "type": "mqtt in",
        "z": "ae42528ac326c82b",
        "name": "",
        "topic": "trains/sensors/hidden/track/1",
        "qos": "2",
        "datatype": "auto",
        "broker": "5e89e2791ec4dffc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1380,
        "y": 880,
        "wires": [
            [
                "06c27b73290e1474"
            ]
        ]
    },
    {
        "id": "496b0ffbd9a36621",
        "type": "mqtt in",
        "z": "ae42528ac326c82b",
        "name": "",
        "topic": "trains/sensors/hidden/track/2",
        "qos": "2",
        "datatype": "auto",
        "broker": "5e89e2791ec4dffc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1380,
        "y": 960,
        "wires": [
            [
                "24f54faa3db98677"
            ]
        ]
    },
    {
        "id": "06c27b73290e1474",
        "type": "switch",
        "z": "ae42528ac326c82b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1580,
        "y": 880,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "24f54faa3db98677",
        "type": "switch",
        "z": "ae42528ac326c82b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1580,
        "y": 960,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "d150813199646371",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "request(11,view,viewswitch)",
        "func": "msg.payload = '<REPLY request(11,view,viewswitch)>\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 1240,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "27d8ff35b4e13404",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "accessory handler",
        "func": "var partsArray = msg.payload.split('[');\nvar id = partsArray[1].split(']');\nvar foo = id[0].substr(id[0].length - 1);\nvar bar = id[0].replace(foo,'');\nmsg.raw = { address : bar, wire: foo };\nmsg.payload = '<REPLY set(11,switch[' + bar + foo + '])>\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1280,
        "wires": [
            [
                "b6e4f6de6c577084",
                "4e2cc9eb2ddadad8"
            ]
        ]
    },
    {
        "id": "5fa77ac5974b1f68",
        "type": "debug",
        "z": "ae42528ac326c82b",
        "name": "accessories",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 1300,
        "wires": []
    },
    {
        "id": "4e2cc9eb2ddadad8",
        "type": "change",
        "z": "ae42528ac326c82b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "raw",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "raw",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 1220,
        "wires": [
            [
                "5fa77ac5974b1f68",
                "7485938bd6ccdaec"
            ]
        ]
    },
    {
        "id": "58c48a7fe21868be",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "4 g",
        "func": "msg.payload = '<EVENT 11>\\n'\n+'11 switch[DCC4g]\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 520,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "b00ddf14e457c5db",
        "type": "inject",
        "z": "ae42528ac326c82b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1450,
        "y": 520,
        "wires": [
            [
                "58c48a7fe21868be"
            ]
        ]
    },
    {
        "id": "da043003156ebe40",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "4 r",
        "func": "msg.payload = '<EVENT 11>\\n'\n+'11 switch[DCC4r]\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 580,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "75d05014bb7eaf4f",
        "type": "inject",
        "z": "ae42528ac326c82b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1460,
        "y": 580,
        "wires": [
            [
                "da043003156ebe40"
            ]
        ]
    },
    {
        "id": "9937082b58bee53e",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "speed handler",
        "func": "var orig = msg.payload;\nvar partsArray = msg.payload.split(',');\nvar id = partsArray[0].split('(')[1];\nvar speed = partsArray[1].split('[')[1].split(']')[0];\nif (partsArray.length > 2) {\n    dir = partsArray[2].split('[')[1].split(']')[0]; //fix when this doesnt happen\n    msg.raw = { address : id, speed: speed, dir: dir };\n    msg.payload = '<REPLY set(' + id + ',' + 'speedstep['+speed+'],dir['+dir+'])>\\n'\n    +'<END 0 (OK)>\\n';\n} else {\n    msg.raw = { address : id, speed: speed, dir: '' };\n    msg.payload = '<REPLY set(' + id + ',' + 'speedstep['+speed+'])>\\n'\n    +'<END 0 (OK)>\\n';\n}\nmsg.orig = orig;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1320,
        "wires": [
            [
                "b6e4f6de6c577084",
                "24dc6b2d70f47d9e"
            ]
        ]
    },
    {
        "id": "eb50df68b1375919",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "release(11,view)",
        "func": "msg.payload = '<REPLY release(11,view)>\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1360,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "002df91de7366b64",
        "type": "debug",
        "z": "ae42528ac326c82b",
        "name": "functions",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 1360,
        "wires": []
    },
    {
        "id": "f348fbea826c3c76",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "function handler",
        "func": "var partsArray = msg.payload.trim().split(',');\n\nvar id = partsArray[0].split('(')[1];\n\nvar funcparts = msg.payload.split('],');\n\nvar lkl = funcparts\n\nfuncparts.forEach(myFunction);\n\nfunction myFunction(value,index) {\n  holder = value.replace(')','') + ']';\n  //funcparts[index] = holder.replace(/[\\n\\r]/g, '')\n  \n  if (index == 0) {\n    funcparts[0] = holder.split(',')[1] + ',' + holder.split(',')[2].replace(/[\\n\\r]/g, '')\n  } else {\n    funcparts[index] = funcparts[index].replace(/[\\n\\r]/g, '')\n    funcparts[index] = funcparts[index].replace(')', '')\n    funcparts[index] = funcparts[index] + ']'\n  }\n  funcparts[index] = funcparts[index].replace(']]',']');\n}\n\n\n\nmsg.payload = '<REPLY set(' + id + ',' + funcparts + ')>\\n'\n    +'<END 0 (OK)>\\n';\n\nmsg.fff = funcparts;\nmsg.ggg = partsArray;\nmsg.lkl = lkl;\nreturn msg;\n\n\n//set(1000,func[0,1])",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1400,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ],
        "info": "funcparts.forEach(myFunction);\n\nfunction myFunction(value,index) {\n  holder = value.replace(')','') + ']';\n  funcparts[index] = holder.replace(/[\\n\\r]/g, '')\n  if (index == 0) {\n    funcparts[0] = holder.split(',')[1] + ',' + holder.split(',')[2]\n  }\n  funcparts[index] = funcparts[index].replace(']]',']');\n}\n"
    },
    {
        "id": "6d6000f15fe09e73",
        "type": "mqtt out",
        "z": "ae42528ac326c82b",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5e89e2791ec4dffc",
        "x": 1330,
        "y": 1020,
        "wires": []
    },
    {
        "id": "7485938bd6ccdaec",
        "type": "change",
        "z": "ae42528ac326c82b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "'trains/device/' & payload.address",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.wire",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 1130,
        "wires": [
            [
                "6d6000f15fe09e73"
            ]
        ]
    },
    {
        "id": "3b65419fd4cf07a3",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "release(1000,view)",
        "func": "msg.payload = '<REPLY release(1000,view)>\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1440,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "24dc6b2d70f47d9e",
        "type": "change",
        "z": "ae42528ac326c82b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "raw",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "raw",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 1280,
        "wires": [
            [
                "4721cdc23d5f9473",
                "5fa77ac5974b1f68"
            ]
        ]
    },
    {
        "id": "4721cdc23d5f9473",
        "type": "change",
        "z": "ae42528ac326c82b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "'trains/device/' & payload.address",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.speed & ',' & payload.dir",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 1180,
        "wires": [
            [
                "6d6000f15fe09e73"
            ]
        ]
    },
    {
        "id": "160be93ff00baee4",
        "type": "change",
        "z": "ae42528ac326c82b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "trains/device/1000",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0,0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 740,
        "wires": [
            [
                "6d6000f15fe09e73"
            ]
        ]
    },
    {
        "id": "affe2618d7b80853",
        "type": "change",
        "z": "ae42528ac326c82b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "trains/device/1000",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0,1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 780,
        "wires": [
            [
                "6d6000f15fe09e73"
            ]
        ]
    },
    {
        "id": "0907119b7f3ec90b",
        "type": "function",
        "z": "ae42528ac326c82b",
        "name": "railcom ?",
        "func": "msg.payload = '<EVENT 200>\\n'\n+'200 state[0x10]\\n'\n+'<END 0 (OK)>\\n';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 480,
        "wires": [
            [
                "b6e4f6de6c577084"
            ]
        ]
    },
    {
        "id": "239eed6891d16e10",
        "type": "inject",
        "z": "ae42528ac326c82b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1430,
        "y": 480,
        "wires": [
            [
                "0907119b7f3ec90b"
            ]
        ]
    },
    {
        "id": "0f1d0d0b022a9e2d",
        "type": "debug",
        "z": "0f7020831b598d2d",
        "name": "listening",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 380,
        "wires": []
    },
    {
        "id": "8fcef91618083c09",
        "type": "inject",
        "z": "0f7020831b598d2d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 350,
        "wires": [
            [
                "6be14fb8cfaa6e04",
                "481593aa758edbaa",
                "431fc22b65b0c45a",
                "4950f88187b81b7c",
                "84d81f63a964b0cc",
                "42d31592a1024c1e"
            ]
        ]
    },
    {
        "id": "6be14fb8cfaa6e04",
        "type": "function",
        "z": "0f7020831b598d2d",
        "name": "railcom empty",
        "func": "msg.payload = 'request(1,view)';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 330,
        "wires": [
            [
                "c9d7d944ebfa7af3"
            ]
        ]
    },
    {
        "id": "d98301a406aac736",
        "type": "function",
        "z": "0f7020831b598d2d",
        "name": "railcom empty",
        "func": "msg.payload = 'set(1,go)';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 280,
        "wires": [
            [
                "c9d7d944ebfa7af3"
            ]
        ]
    },
    {
        "id": "a264ec80b44849eb",
        "type": "inject",
        "z": "0f7020831b598d2d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "d98301a406aac736"
            ]
        ]
    },
    {
        "id": "d07e8cfc965da5e3",
        "type": "function",
        "z": "0f7020831b598d2d",
        "name": "railcom empty",
        "func": "msg.payload = 'set(1,stop)';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 220,
        "wires": [
            [
                "c9d7d944ebfa7af3"
            ]
        ]
    },
    {
        "id": "526735f3dca6790e",
        "type": "inject",
        "z": "0f7020831b598d2d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "d07e8cfc965da5e3"
            ]
        ]
    },
    {
        "id": "c9d7d944ebfa7af3",
        "type": "tcp request",
        "z": "0f7020831b598d2d",
        "server": "192.168.1.121",
        "port": "15471",
        "out": "sit",
        "ret": "string",
        "splitc": " ",
        "name": "",
        "x": 670,
        "y": 380,
        "wires": [
            [
                "0f1d0d0b022a9e2d"
            ]
        ]
    },
    {
        "id": "481593aa758edbaa",
        "type": "function",
        "z": "0f7020831b598d2d",
        "name": "railcom empty",
        "func": "msg.payload = 'request(11,view)';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 380,
        "wires": [
            [
                "c9d7d944ebfa7af3"
            ]
        ]
    },
    {
        "id": "431fc22b65b0c45a",
        "type": "function",
        "z": "0f7020831b598d2d",
        "name": "railcom empty",
        "func": "msg.payload = 'request(26,view)';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 440,
        "wires": [
            [
                "c9d7d944ebfa7af3"
            ]
        ]
    },
    {
        "id": "4950f88187b81b7c",
        "type": "function",
        "z": "0f7020831b598d2d",
        "name": "railcom empty",
        "func": "msg.payload = 'request(10, view)';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 500,
        "wires": [
            [
                "c9d7d944ebfa7af3"
            ]
        ]
    },
    {
        "id": "84d81f63a964b0cc",
        "type": "function",
        "z": "0f7020831b598d2d",
        "name": "railcom empty",
        "func": "msg.payload = 'queryObjects(10,addr,name)';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 570,
        "wires": [
            [
                "c9d7d944ebfa7af3"
            ]
        ]
    },
    {
        "id": "42d31592a1024c1e",
        "type": "function",
        "z": "0f7020831b598d2d",
        "name": "railcom empty",
        "func": "msg.payload = 'request(1000, view)';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 650,
        "wires": [
            [
                "c9d7d944ebfa7af3"
            ]
        ]
    }
]